body {
font-family: arial, helvetica, sans-serif;
background-image: url("images/assets/newwallpaper.png");
background-color: #b7e7ff;
color: black;
}

/* latin */
@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/acme/v11/RrQfboBx-C5_XxrBbg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Sriracha';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sriracha/v5/0nkrC9D4IuYBgWcI9NbfTwE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Averia Libre';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/averialibre/v9/2V0aKIcMGZEnV6xygz7eNjESBanI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Homemade Apple';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/homemadeapple/v11/Qw3EZQFXECDrI2q789EKQZJob0x6XHg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/itim/v5/0nknC9ziJOYe8ANAkA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/courgette/v8/wEO_EBrAnc9BLjLQAUk1VvoK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

div.flex {
display:flex; justify-content:flex-start; align-items: flex-start;; flex-direction:row; flex-wrap: wrap;
}

div.sidebar {position:sticky;
   top:0;
text-align: left;
border-radius: 12px;
    background-color: #FFFFFF;
    font-size: 20px;
  line-height:2.0em;
    flex:1; 
}

div.main{
    flex:4;
    padding:1vw;
    margin-left:auto;
    margin-right: auto;
}

img{
display:block;
    border-radius: 15px;
    flex-direction: row;
    border: 12px solid white;
    background-color: white;
    margin-bottom: 20px;
    
}

  img.iconbox{
width:36vw;
/*      border: 12px solid white;
    background-color: white; */
    }

img#pfp {
  margin-top: 20px;
    display: block;
        margin-left: 25px;
        border:none;
        border-radius: 15px;
        background-color: transparent;
        margin-bottom: 0;
}

a:hover {
  color: #d997ff;
  text-decoration: underline;
  }

.welcome{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

h2.welcome {
    font-family: 'Sriracha', cursive;
}

h1 {
    color: black;
    font-size: 48px;
font-family: 'Averia Libre', cursive;
        border: 12px solid white;
    background-color: white;
    border-radius: 12px;
    width: fit-content;
}

h2 {
    color: black;
    font-size: 36px;
            border: 12px solid white;
    background-color: white;
    border-radius: 12px;
    width: fit-content;
    font-family: Itim, cursive;
}

h3 {
    color: black;
    font-size: 24px;
    font-family: 'Sriracha', cursive;
        border: 12px solid white;
    background-color: white;
    border-radius: 12px;
    width: fit-content;
}

button {
    margin-top: 45px;
    margin-bottom:45px;
        margin-left: auto;
    margin-right: auto;
    background-color: #D997FF;
    color: white;
    outline:none;
    padding: 15px 32px;
    font-size: 24px;
    display: inline-block;
    border: none;
    border-radius: 12px;
    box-shadow: 0 9px #999;
    font-family: 'Acme', sans-serif;
    }

button:active {
  background-color: white;
  color: #D997FF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
button:hover {
background-color: white;
color: #D997FF;
}
.flex-container {
    display: flex;
    flex:4;
    margin-left: auto;
    margin-right: auto;
}
div.flex-container {
    flex-wrap: wrap;
}
img.thumbnail {
    margin: 10px;
    height: 130px;
    width: 130px;
}

#welcome {
    margin-left: auto;
    margin-right: auto;
}

p {
    border: 12px solid white;
    background-color: white;
    border-radius: 12px;
    width: fit-content;
    line-height: 150%;
    font-size: 18px;
font-family: 'Open Sans', sans-serif;
}

ul#sidelist {
    background-color: transparent;
    font-size: 20px;
    border: none;
  line-height:2.0em;
  font-family: 'Acme';
}

ul {
        border: 12px solid white;
    background-color: white;
    border-radius: 12px;
    width: fit-content;
    font-size: 18px;
  line-height: 2.0em;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

ol {
        border: 12px solid white;
    background-color: white;
    border-radius: 12px;
    width: fit-content;
    font-size: 18px;
  line-height: 2.0em;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

p#signature {
    color: black;
    font-size: 36px;
    font-family: 'Homemade Apple', cursive;
}

h1.welcome {
    font-family: 'Courgette', cursive;
}

#cc {
    border: none;
    border-radius: 0px;
    background-color: transparent;
    border-radius: 0px;
    margin-left: 35px;
}

.overlay {
  position: absolute; 
  bottom: 22px;
  left: 22px;
  right: 0px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 90px;
  transition: .5s ease;
  opacity:0;
  border-radius: 2px;
  color: white;
  font-size: x-small;
  padding: 20px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

figure:hover .overlay {
  opacity: 1;
}

div > figure{
position: relative;
display:block;
margin-left: auto;
margin-right: auto;
margin:initial;
flex-wrap: wrap;
 }
 
 footer{
     display: block;
     margin-top: 10px;
     bottom: 10px;
     position: sticky;
 }
 
#cc1 {
text-align: center;
     margin-left: auto;
     margin-right: auto;
     display: block;
     position: relative;
          border: none;
          background-color: transparent;
          border-radius: 0px;
 }
 
