body {
font-family: arial, helvetica, sans-serif;
background-image: url("images/assets/newwallpaper.png");
background-color: #b7e7ff;
color: black;
}

/* latin */
@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/acme/v11/RrQfboBx-C5_XxrBbg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Sriracha';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sriracha/v5/0nkrC9D4IuYBgWcI9NbfTwE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Averia Libre';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/averialibre/v9/2V0aKIcMGZEnV6xygz7eNjESBanI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Homemade Apple';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/homemadeapple/v11/Qw3EZQFXECDrI2q789EKQZJob0x6XHg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/itim/v5/0nknC9ziJOYe8ANAkA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/courgette/v8/wEO_EBrAnc9BLjLQAUk1VvoK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

div.flex {
/*  display:flex; justify-content:flex-start; align-items: flex-start;; flex-direction:row; flex-wrap: wrap;*/
display: inline-grid;
grid-template-columns: auto auto;
}

div.sidebar {position:sticky;
   top:0;
   display: grid;
   grid-column-gap: 50px;
text-align: left;
border-radius: 12px;
    background-color: #FFFFFF;
    font-size: 20px;
  line-height:2.0em;
}

img#pfp {
  margin-top: 20px;
    display: block;
        margin-left: 25px;
        border:none;
        border-radius: 15px;
        background-color: transparent;
        margin-bottom: 0;
}

ul#sidelist {
    background-color: transparent;
    font-size: 20px;
    border: none;
  line-height:2.0em;
  font-family: 'Acme';
  padding-right: 100px;
}

  div.main{
    /*  flex:4;*/
    padding:1vw;
    /*margin-left:auto;
    margin-right: auto;*/
    display: grid;
    
}

img{
display: grid;
    border-radius: 15px;
    /*  flex-direction: row;*/
    border: 12px solid white;
    background-color: white;
    margin-bottom: 20px;
}

h1 {
display: grid;
    color: black;
    font-size: 48px;
font-family: 'Averia Libre', cursive;
        border: 12px solid white;
    background-color: white;
    border-radius: 12px;
    width: fit-content;
    margin-bottom: 20px;
}

p {
display: grid;
    border: 12px solid white;
    background-color: white;
    border-radius: 12px;
    width: fit-content;
    line-height: 150%;
    font-size: 18px;
font-family: 'Open Sans', sans-serif;
}