:root{
    font-size:16px;
    font-family: 'Architects Daughter', cursive;
    --bg-primary:antiquewhite;

}

body {
    font-family: 'Architects Daughter', cursive;
    background-color: antiquewhite;
    font-size: larger;
    margin:0;
    padding:0;
}

body::-webkit-scrollbar{
    width:0.25rem;
}

body::-webkit-scrollbar-track{
    background: #1e1e24
}

body::-webkit-scrollbar-thumb{
    background: #358673;
}

main{
    margin-left:10rem;

}


p {
    font-family: 'Neucha', cursive;
    word-spacing: .4em;
}

header {
    text-align: center;
    font-size: larger;
    /* display: flex;*/
    flex-direction: column;
    margin:1vw;
}

.head {
    line-height: .6em;

}

/* NAVBAR */


nav{
    width: 8rem;
    height: 100vh;
    position: fixed;
    background-image:linear-gradient(to right, var(--darkCircle), var(--bigCircle), paleturquoise, beige);
    top: 0;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    transition:200ms ease;
}

nav:hover{
    width:15rem;
}

nav:hover .link-text{
    display:contents;
    
}

.nav-link{
    display:flex;
    align-items: center;
    width:inherit;
    height: 5rem;
    color:#1e1e24;
    text-decoration: none;
}

.nav-link svg{
     min-width:7rem; 
  margin-left:.3rem;
  margin-right:.7rem;
    position:sticky;
    left:0;
}

.link-text{
    display:none;
    margin-left:1rem;
}

.link-text:hover{
    text-shadow:1px 1px white;
    text-decoration:underline;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-around;
    margin-left:15rem;
}

footer div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

p.foot {
    text-align: center;
    line-height: .3em;
}

p.foot a {
    transition: .3s;
}

p.foot a:hover {
    color: turquoise;
}



/* HOMEPAGE */


.me {
    display: flex;
    justify-content: center;
}

.me img {
    margin: auto;
    width: 30vw;
    border-radius: 10px;
}

.bio {
    margin: 2%;
    background-image: linear-gradient(to top, beige, paleturquoise, beige);
    border-radius: 25px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%
}

.bio h2 {
    text-indent: 1em;
}

.bio p {
    text-indent: 2em;
}

div.picWrap {
    display: flex;
justify-content: space-evenly;
margin: 2vw;
flex-direction:row;


}

/* div.picWrap div{
    width:50vw;
} */

div.picWrap div img{
    width:35vw;
    border-radius: 3px;
}

div.picRow {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}







/* COURSE PROJ */



section.courseCont {
   display:grid;
    flex-direction: column;
    
}

h1.heading {

    text-align: center;
}

h2.subhead {
    text-indent: 4em;
}

div.animation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    background-image: linear-gradient(to top, beige, paleturquoise, beige);
    padding-top: 2%;
    padding-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
}

div.section {
    display: grid;
    grid-template-columns: 40vw 40vw;
    align-content: center;
    justify-content: space-evenly;
    background-image: linear-gradient(to top, beige, paleturquoise, beige);
    padding-top: 2%;

    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
}

div.section figure

div.threeD {
    background-image: linear-gradient(to top, beige, paleturquoise, beige);
    padding-top: 2%;

    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
}


div.img {
    transition: .3s;
}

div.img:hover {
    opacity: .6;
}

img#blues {
    width: 30vw;
}

img#ballot {
    width: 30vw;
}


img.threeD {
    width: 30vw;
}

div.threeDsect {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

div.vidSect {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
}

div.video {
    align-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

div.video p {
    text-align: center;
}




/* OTHER PROJ */



div.animation {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, beige, paleturquoise, beige);
    padding-top: 2%;

    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
}

div.intern {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, beige, paleturquoise, beige);
    padding-top: 2%;

    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
}

div.row {
    display: flex;
    justify-content: center;
}

div.site {

}

img.img {
    width: 30vw;
    height: 30vh;
    transition: .3s;
}

img.img:hover {
    opacity: .6;
}

div.personal {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, beige, paleturquoise, beige);
    padding-top: 2%;

    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
}

h2.subhead {
    text-indent: 4em;
}

h1.heading {
    text-align: center;
}

div.site p {
    text-align: center;
}

div.video p {
    text-align: center;
}

div.presentation {
display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, beige, paleturquoise, beige);
    padding-top: 2%;

    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
}

div.slides {
    align-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

div.slides p {
    text-align:center;
}

iframe#KDHslides {
    align-self:center;
}

div.embed-footer {
    display:none;
}

div.logos {
    display:flex;
    justify-content:center;
    flex-direction:column;
    background-image: linear-gradient(to top, beige, paleturquoise, beige);
    padding-top: 2%;

    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
}

div.logoWrap {
    flex: 1;
    display: flex;
flex-direction: column;
justify-content: center;
}

video.gif {
    width: 30vw;
    align-self: center;
}

img.logo {
    width: 20vw;
    align-self:center;
}

div.graphics {
    display:flex;
    justify-content:center;
    flex-direction:column;
    background-image: linear-gradient(to top, beige, paleturquoise, beige);
    padding-top: 2%;

    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
}

div.posterWrap {
    display: flex;
flex-direction: column;
justify-content: center;
}

div.posterWrap p {
    text-align: center;
}

div.logoWrap p {
    text-align: center;
}





                    /* RESUME STYLE */


 div.resume {
    font-family:courier, fixed, monospace;
    width:80vw;
    margin-top:5vw;
    margin-bottom:5vw;
    margin-left: 2vw;
    margin-right:2vw;
    align-items: center;
    display:flex;
    flex-direction:column;
    
}

main#resume{
    margin-left:16vw;
    
}

div.resume img{
    width:90%;
    max-width:900px
}

div.resume i {
    font-family:courier, fixed, monospace;
}

div.resume p {
    font-family:courier, fixed, monospace;
}

div#resumeMarg {
    margin:40px;
    padding-left:20px;
}

div#skillz {
    padding:60px;
}

div#XP {
    
    padding-right:140px;
    padding-left:30px;
}



/* ANIMATED SVG */

:root{
    --dark-hair:#5E5546;
    --brown-hair:#988364;
    --blonde-hair:#CFC19C;
    --body: #E8E8E8;
    --face:#E4C89E;

    --bigCircle:#73E0C6;
    --darkCircle:#388678;
    --lightCircle:#FFFACF;

    --bulbHead: #f69a8b;

    --outline:#2d4356;
    --blackline: #626975;
}

#darkHair{
    fill: var(--dark-hair);
}
#brownHairL, #brownHairR{
    fill: var(--brown-hair)
}
#blondeHair{
    fill: var(--blonde-hair)
}

#body{
    fill: var(--body);
}
#face{
    fill:var(--face);
}

#container{
    fill: var(--bigCircle)
}
#darkCircle{
    fill:var(--darkCircle)
}
#lightCircle{
    fill:var(--lightCircle)
}



#darkCircle,
#lightCircle,
#container,
#bulbHead,
#lightbulb{
    transition: all 1s ease;
}

svg#bio:hover #darkCircle{
    /* transform:translate(50%, 25%); */
    transform:translate(0%, 50%);
  
}

svg#bio:hover #lightCircle{
    /* transform:translate(-50%, -25%); */
    transform: translateY(-50%);
}

svg#bio:hover #container{
    fill:#358673;
}

/* 
svg:hover #eyeL{
    transform: scaleX(-2); 
    transform-origin:center;
} */


/* COURSE WORK ICON */


#bulbHead{
    fill:var(--bulbHead)
}

#book{
    fill:var(--outline)
}

.blackline{
    fill:var(--outline);
    /* color:#434647;
    color:#2d4356 */

}

svg#schoolProj:hover #lightbulb{
    transform:translateY(-4%)
}

#lightCircle{
    transform-origin: center;
}

svg#schoolProj:hover #lightCircle{
    transform:translateY(-60%);
    opacity:.85;
    transform:scale(-1);
    
}

svg#schoolProj #container{
    transform-origin:center;
}
svg#schoolProj:hover #container{
    transform:translateY(17%);
    fill: var(--darkCircle);
    /* transform:scale(.8); */
}

svg#schoolProj #darkCircle{
    transform-origin: center;
}
svg#schoolProj:hover #darkCircle{
    fill:var(--bigCircle);
    transform:scale(1.05);
}

svg#schoolProj:hover #bulbHead{
    fill: #c56b6b;
}
/* green line: #5bbe88
    white line: #dae8f0*/

